=begin
#Harbor API

#These APIs provide services for manipulating Harbor project.

OpenAPI spec version: 2.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.22

=end

require 'uri'

module Harbor2Client
  class SystemCVEAllowlistApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the system level allowlist of CVE.
    # Get the system level allowlist of CVE.  This API can be called by all authenticated users.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id An unique ID for the request
    # @return [CVEAllowlist]
    def get_system_cve_allowlist(opts = {})
      data, _status_code, _headers = get_system_cve_allowlist_with_http_info(opts)
      data
    end

    # Get the system level allowlist of CVE.
    # Get the system level allowlist of CVE.  This API can be called by all authenticated users.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id An unique ID for the request
    # @return [Array<(CVEAllowlist, Fixnum, Hash)>] CVEAllowlist data, response status code and response headers
    def get_system_cve_allowlist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemCVEAllowlistApi.get_system_cve_allowlist ...'
      end
      if @api_client.config.client_side_validation && !opts[:'x_request_id'].nil? && opts[:'x_request_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"x_request_id"]" when calling SystemCVEAllowlistApi.get_system_cve_allowlist, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/system/CVEAllowlist'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Request-Id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CVEAllowlist')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemCVEAllowlistApi#get_system_cve_allowlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update the system level allowlist of CVE.
    # This API overwrites the system level allowlist of CVE with the list in request body.  Only system Admin has permission to call this API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id An unique ID for the request
    # @option opts [CVEAllowlist] :allowlist The allowlist with new content
    # @return [nil]
    def put_system_cve_allowlist(opts = {})
      put_system_cve_allowlist_with_http_info(opts)
      nil
    end

    # Update the system level allowlist of CVE.
    # This API overwrites the system level allowlist of CVE with the list in request body.  Only system Admin has permission to call this API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id An unique ID for the request
    # @option opts [CVEAllowlist] :allowlist The allowlist with new content
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def put_system_cve_allowlist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemCVEAllowlistApi.put_system_cve_allowlist ...'
      end
      if @api_client.config.client_side_validation && !opts[:'x_request_id'].nil? && opts[:'x_request_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"x_request_id"]" when calling SystemCVEAllowlistApi.put_system_cve_allowlist, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/system/CVEAllowlist'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Request-Id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'allowlist'])
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemCVEAllowlistApi#put_system_cve_allowlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
